trigger: none

pool: Mera Pool

steps: 

  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/dev'
      backendAzureRmUseEntraIdForAuthentication: false
      backendServiceArm: 'con1'
      backendAzureRmStorageAccountName: 'storageaccount9454'
      backendAzureRmContainerName: 'tfstate'
      backendAzureRmKey: 'terraform-dev-tfstate'